@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: poppins , sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
header{
    background: #333;
    color: #fff;
    margin-top: 0;
    padding: 15px 0;
    text-align: center;
}
  
  
nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: underline
}
  
  
  
nav {
    margin: 20px 0;
    background: #333;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
          
}
.contact-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.contact-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
}
h2 {
    margin-bottom: 10px;
    font-size: 24px;
}
p {
    margin: 5px 0;
    font-size: 18px;
    color: #333;
}
.contact-info {
    margin-top: 20px;
}
.contact-info a {
    text-decoration: none;
    color: #007BFF;
}
.contact-info a:hover {
    text-decoration: underline;
}